* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.bloque {
    width: 100%;
    position: relative;
}

.contenedor-pc {
    display: none;
}

.contenedor-movil {
    position: relative;
}

.fondo-movil {
    display: block;
    width: 100%;
    height: auto;
    z-index: 1;
}

.texto-movil {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    pointer-events: none;
}


.boton-movil {
    position: absolute;
    top: 160vw;
    left: 15vw;
    width: 65vw;
    display: flex;
    justify-content: center;
    z-index: 2;
    transition: transform 0.2s ease-in-out; /* Transición para suavizar el efecto */
    animation: pulse 2s infinite; /* Aplicamos la animación de pulso desde el inicio */
}

.boton-pc {
    position: absolute;
    top:45vw;
    left: 35vw;
    width: 30vw;
    display: flex;
    justify-content: center;
    z-index: 2;
    transition: transform 0.2s ease-in-out; /* Transición para suavizar el efecto */
    animation: pulse 2s infinite; /* Aplicamos la animación de pulso desde el inicio */
}

.boton-movil-1 {
    position: absolute;
    top: 120vw;
    left: 25vw;
    width: 45vw;
    display: flex;
    justify-content: center;
    z-index: 2;
    transition: transform 0.2s ease-in-out; /* Transición para suavizar el efecto */
    animation: pulse 2s infinite; /* Aplicamos la animación de pulso desde el inicio */
}

.boton-pc-1 {
    position: absolute;
    top:115vw;
    left: 33vw;
    width: 32vw;
    display: flex;
    justify-content: center;
    z-index: 2;
    transition: transform 0.2s ease-in-out; /* Transición para suavizar el efecto */
    animation: pulse 2s infinite; /* Aplicamos la animación de pulso desde el inicio */
}

.boton-movil-2 {
    position: absolute;
    top: 150vw;
    left: 22vw;
    width: 55vw;
    display: flex;
    justify-content: center;
    z-index: 2;
    transition: transform 0.2s ease-in-out; /* Transición para suavizar el efecto */
    animation: pulse 2s infinite; /* Aplicamos la animación de pulso desde el inicio */
}

.boton-pc-2 {
    position: absolute;
    top:30vw;
    left: 33vw;
    width: 32vw;
    display: flex;
    justify-content: center;
    z-index: 2;
    transition: transform 0.2s ease-in-out; /* Transición para suavizar el efecto */
    animation: pulse 2s infinite; /* Aplicamos la animación de pulso desde el inicio */
}

.boton-movil-3 {
    position: absolute;
    top: 125vw;
    left: 14vw;
    width: 70vw;
    display: flex;
    justify-content: center;
    z-index: 2;
    transition: transform 0.2s ease-in-out; /* Transición para suavizar el efecto */
    animation: pulse 2s infinite; /* Aplicamos la animación de pulso desde el inicio */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Aumentamos el tamaño en un 10% en el punto medio de la animación */
  }
  100% {
    transform: scale(1);
  }
}

.icono {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    height: auto;
}


@media (min-width: 768px) {
    .contenedor-movil {
        display: none;
    }
 
    .contenedor-pc {
        display: block;
        position: relative;
    }
    
    .fondo-pc {
        display: block;
        width: 100%;
        height: auto;
        z-index: 1;
    }

    .texto-pc {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        pointer-events: none;
    }

    .icono-pc {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        height: auto;
    }
}


.swipper-movil{
    position: absolute;
    top: 50vw;
    left: 6vw;
    width: 90vw;
    height: auto;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    z-index: 3;

  }

.swipper-movil img{
    width: 20px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    border-radius: 5px;
  }
  
  .swipper-movil img:hover{
    cursor: crosshair;
    width: 10vw;
    opacity: 1;
    filter: contrast(120%);
  }

.swipper-pc{
    position: absolute;
    top: 15vw;
    left: 11.5vw;
    width: 78vw;
    height: auto;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    z-index: 3;

  }

.swipper-pc img{
    width: 20px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    border-radius: 5px;
    margin: 10px;
  }
  
  .swipper-pc img:hover{
    cursor: crosshair;
    width: 6.5vw;
    opacity: 1;
    filter: contrast(120%);
  }

.swiper {
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 22%; /* Considera ajustar esto */
    z-index: 3;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    width: 16vw; /* Ajusta este valor según el tamaño deseado */
    flex-grow: 1;
    object-fit: cover;
}

.swiper-slide img {
    width: 16vw;
    height: auto;
    object-fit: cover;
}

.video {
    position: absolute;
    top: 124vw; /* Ajusta según sea necesario */
    left: 50%; /* Coloca el borde izquierdo del video en el centro del padre */
    transform: translateX(-50%); /* Desplaza el video hacia la izquierda en la mitad de su propio ancho */
    width: 55vw;
    height: auto;
    z-index: 4;
}
